<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" ng-click="collapseProduct=!collapseProduct">
            Product Details
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" ng-class="{in:collapseProduct}">
      <div class="panel-body">
         <div ng-include src="'views/partials/product.partial.html'"></div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" ng-click="collapseAttribute=!collapseAttribute" href="javascript:void(0)" >
           Add Attributes
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse"  ng-class="{in:collapseAttribute}">
      <div class="panel-body">
          <div ng-include src="'views/partials/attribute.partial.html'"></div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" ng-click="collapseImage=!collapseImage" href="javascript:void(0)">
           Add Image
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" ng-class="{in:collapseImage}">
      <div class="panel-body">
          <div ng-include src="'views/partials/image.partial.html'"></div>

      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-3"><h3 style="margin-bottom:0"><a href="#">Back</a></h3></div>
    <div class="col-md-9"><h3 style="margin-bottom:0">New Product</h3></div>
</div>
<hr>


<div class="row">
    <h2>{{test}}</h2>


</div>