<div ng-cloak>
    <div class="welcome-bar">
        <h4>Welcome, Matluba Admin Page!</h4>
    </div>


    <div ng-switch="authenticated">
        <div ng-switch-when="true">
            <div ng-include src="'views/products.html'"></div>
        </div>
        <div ng-switch-when="false" class="alert" translate="global.messages.info.authenticated">
            If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
            password="admin".
        </div>

        <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
            Don't have an account? <a href=\"#/register\">Register</a>
        </div>
    </div>
</div>
