<div ng-controller="ProductsCtrl">
    <!-- Product action toolbar -->
    <div class="toolbar">
        <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
                <a href="#/product/edit" class="btn btn-default"> + Add Product</a>
            </div>
            <div class="btn-group btn-group-sm">
                <a href="#/product/edit" class="btn btn-default"> - Delete</a>
            </div>
            <paginator ng-model='page.index' pages='page.total' class="pagination-sm pull-right"></paginator>
        </div>
    </div>
    <!-- Product list -->
    <div class="products-list-wrapper">
        <table class="table table-hover products-table">
            <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Category</th>
                <th>Price</th>
                <th>Rental Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <th><input type="checkbox" /></th>
                <td><a href="#">{{product.title}}</a></td>
                <td>{{product.productType}}</td>
                <td>{{product.category.name}}</td>
                <td><span class="super-value ">RM</span>{{product.price}}</td>
                <td><span class="less-value">None</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
