<script type="text/ng-template" id="attributeModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Attribute Dialog</h3>
    </div>
    <div class="modal-body">

            <div class="row">
                <div class="col-sm-6">
                    <label class="text-muted">Attribute Name</label>
                    <div>{{label.name}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="text-muted">Attribute Type</label>
                    <div>{{label.type}}</div>
                </div>
            </div>

            <hr />

            <label>New Attribute Option</label>
            <goose-input on-add="addOption(item)" wing-placeholder="Alias of Option" input-placeholder="New Option Name"></goose-input>
            <br>
            <div class="list">
                <div class="list-heading"><span class="caret"></span>{{group.label.name}}</div>
                <div class="list-body">
                    <div ng-repeat="option in label.children" ng-mouseover="active=value" ng-mouseleave="active=null" class="list-item clearfix">
                        <div class="pull-left"><span class="icon-attribute"></span> {{ option.value }}</div>
                        <a href="#" class="pull-right btn-link" ng-show="active==value" ng-click="remove(value)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>
