<script type="text/ng-template" id="attributeModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Attribute Dialog</h3>
    </div>
    <div class="modal-body">

            <div class="row">
                <div class="col-sm-6">
                    <label class="text-muted">Attribute Name</label>
                    <div>{{label.name}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="text-muted">Attribute Type</label>
                    <div>{{label.type}}</div>
                </div>
            </div>

            <hr />

            <h4>New Attribute Option</h4>
            <goose-input on-add="addOption(item)" wing-placeholder="Alias of Option" input-placeholder="New Option Name"></goose-input>
            <br>
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="option in label.children" ng-mouseover="active=value" ng-mouseleave="active=null">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">{{ option.value }}</h4>
                        <p class="list-group-item-text">{{ option.alias }}</p>
                    </div>
                    <a href="#" class="pull-right btn-link" ng-show="active==value" ng-click="remove(value)">Delete</a>
                </li>
            </ul>
        </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>
